

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Ignore generated tailwind files
frontend2/.nuxt/tailwind/postcss.mjs